@tailwind base;
@tailwind components;
@tailwind utilities;


.logoContainer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
  @media (max-width: 500px) and (orientation: portrait) {
    .logoContainer {
      width: 79.285px;
      height: 15.465px;
    }
  }

