@tailwind base;
@tailwind components;
@tailwind utilities;


.logoContainer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 92.5vh;
  }
  
  @media (max-width: 500px) and (orientation: portrait) {
    .logoContainer {
      width: 100vw;
      height: 99vh;
    }
  }

